@media (max-width: 1400px)
  .burger
    display: none
  .about
    &__header-contact-text
      font-size: 14px
    &__header-contact-phone
      font-size: 23px
    &__header-logo
      margin-right: 250px
    &__content-title
      font-size: 55px
      &-text
        font-size: 33px
  .menu
    &__list-item
      padding-left: 30px
  .footer
    &__social
      margin-right: 5px
      &-links
        margin-right: 4px
    &__app-link
      margin-right: 5px
      &-img
        width: 250px
    &__menu-main
      font-size: 12px
    &__menu-other
      font-size: 10px
    &__menu
      margin-left: 0

@media (max-width: 1200px)
  .about
    &__header-logo
      margin-right: 88px
    &__header-contact-text
      font-size: 13px
    &__header-contact-phone
      font-size: 20px
  .menu
    &__list
      padding: 12px 30px
      &-item
        padding-left: 20px
  .benefits
    &__content-item
      flex-direction: column
      align-items: center
    &__content-item-icon
      width: 100px
      height: 100px
    &__content-item-text
      max-width: 300px
      &-title
        margin-top: 10px
  .mobile
    &__content-item
      width: 300px
  .footer
    &__social
      margin-right: 5px
      &-links
        margin-right: 4px
    &__app-link
      margin-right: 5px
      &-img
        width: 250px
    &__menu-main
      font-size: 12px
    &__menu-other
      font-size: 10px
    &__menu
      margin-left: 0

@media (max-width: 991px)
  .menu
    &__list
      padding: 14px 12px
      &-link
        font-size: 12px
        line-height: 10px
      &-item
        padding-left: 12px
  .about
    min-height: 720px;
    &__header-logo
      margin-right: 85px
      &-img
        width: 250px
    &__header-call
      width: 170px
    &__header-content
      padding: 0 20px
    &__header-contact
      &-text
        font-size: 11px
      &-phone
        font-size: 15px
    &__content
      &-title
        font-size: 35px
        &-text
          font-size: 25px
      &-text
        font-size: 15px
      &-btn
        margin-top: 80px
  .benefits
    padding: 20px 0 40px
    &__title
      margin: 20px 0 12px
      font-size: 30px
    &__content-item
      &-text
        font-size: 15px
        &-text
          font-size: 13px
      &-icon
        width: 90px
        height: 90px
  .mobile
    min-height: 800px
    &__title
      font-size: 35px
    &__content-item
      width: 230px
      height: 230px
      &-text
        font-size: 16px
  .possibilities
    min-height: 700px
    padding: 60px 0 70px
    &__title
      font-size: 30px
    &__car-img
      max-width: 600px
  .require
    gipadding: 30px 0 60px
  .footer
    &__social
      margin-right: 5px
      &-links
        margin-right: 4px
        width: 25px
        height: 25px
    &__app-link
      margin-right: 5px
      &-img
        width: 150px
    &__menu-main
      font-size: 12px
    &__menu-other
      font-size: 10px
      li
        padding: 10px 10px